fixtures/simple.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           targetNamespace="http://example.com/simple"
           xmlns:tns="http://example.com/simple"
           elementFormDefault="qualified">

  <!-- Simple example XSD for testing -->

  <xs:element name="person" type="tns:PersonType">
    <xs:annotation>
      <xs:documentation>Root element representing a person</xs:documentation>
    </xs:annotation>
  </xs:element>

  <xs:complexType name="PersonType">
    <xs:annotation>
      <xs:documentation>Complex type defining a person with basic information</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="name" type="xs:string">
        <xs:annotation>
          <xs:documentation>Full name of the person</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="age" type="xs:int" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Age of the person (optional)</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="email" type="tns:EmailType" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>Email addresses (multiple allowed)</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
    <xs:attribute name="id" type="xs:ID" use="required">
      <xs:annotation>
        <xs:documentation>Unique identifier for the person</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="active" type="xs:boolean" default="true">
      <xs:annotation>
        <xs:documentation>Whether the person is active (default: true)</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>

  <xs:simpleType name="EmailType">
    <xs:annotation>
      <xs:documentation>Email address with pattern validation</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:pattern value="[^@]+@[^@]+\.[^@]+"/>
      <xs:maxLength value="100"/>
    </xs:restriction>
  </xs:simpleType>

</xs:schema>